
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Board_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* userInfoList */
.ui-page .Board_userInfoList {
	margin: 4px 0px 0px 0px;
	display: none;
}
/* mobilelistitem_5 */
/* mobilelistitembutton_6 */
.Board_mobilelistitembutton_6 {

}
/* mobilelistitem_7 */
/* mobilelistitembutton_8 */
.Board_mobilelistitembutton_8 {

}
/* mobilefooter */
.Board_mobilefooter {
	min-height:38px;
}