
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobileimage_22 */
.startScreen_mobileimage_22 {
	margin: -40px 0px 0px 0px;
	width: 320px; height: 100px;
	display: block;
}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 10px 15px 15px 15px;
}
/* mobilelabel_18 */
.startScreen_mobilelabel_18 {
	text-decoration: none; font-weight: normal; color: #c2bebe; text-align: center; font-family: Gulim; font-size: 17px;
	margin: 0px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_107 */
.startScreen_mobilelabel_107 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Georgia; font-size: 20px;
	margin: 20px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelist_93 */
.ui-page .startScreen_mobilelist_93 {
	margin: 25px 0px 0px 0px;
}
/* mobilelistitem_94 */
.ui-mobile-viewport ul[data-role="listview"] li.startScreen_mobilelistitem_94 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.startScreen_mobilelistitem_94 .ui-li-static-container {
	padding: 0px 0px 4px 0px;
	padding-right: 41px;
	padding-left: 0px;
	min-height: 1em;
	border-width:0;
}
.ui-mobile-viewport ul[data-role="listview"] li.startScreen_mobilelistitem_94.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelabel_109 */
.startScreen_mobilelabel_109 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelistitembutton_95 */
.startScreen_mobilelistitembutton_95 {

}
/* mobilelabel_110 */
.startScreen_mobilelabel_110 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_108 */
.startScreen_mobilelabel_108 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelistitem_96 */
/* mobilelistitembutton_97 */
.startScreen_mobilelistitembutton_97 {

}
/* mobilelistitem_98 */
/* mobilelistitembutton_99 */
.startScreen_mobilelistitembutton_99 {

}
/* mobilelistitem_100 */
/* mobilelistitembutton_101 */
.startScreen_mobilelistitembutton_101 {

}
/* mobilelistitem_102 */
/* mobilelistitembutton_103 */
.startScreen_mobilelistitembutton_103 {

}
/* mobilelistitem_104 */
/* mobilelistitembutton_105 */
.startScreen_mobilelistitembutton_105 {

}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}