
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.VendedorViejo_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_10 */
.VendedorViejo_mobilelabel_10 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelist_11 */
.ui-page .VendedorViejo_mobilelist_11 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_12 */
/* mobilelistitembutton_13 */
.VendedorViejo_mobilelistitembutton_13 {

}
/* mobilelistitem_14 */
/* mobilelistitembutton_15 */
.VendedorViejo_mobilelistitembutton_15 {

}
/* mobilelistitem_16 */
/* mobilelistitembutton_17 */
.VendedorViejo_mobilelistitembutton_17 {

}
/* mobilefooter */
.VendedorViejo_mobilefooter {
	min-height:38px;
}
/* mobilenavbar_6 */
.VendedorViejo_mobilenavbar_6 {

}
.VendedorViejo_mobilenavbar_6 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .VendedorViejo_mobilenavbar_6 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .VendedorViejo_mobilenavbar_6 ul li:last-child a {
	margin-right: -1px !important;
}
.VendedorViejo_mobilenavbar_6 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}